@tailwind base;
@tailwind components;
@tailwind utilities;

/* import fonts 
- Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700
*/
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf') format('woff2');
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./assets/fonts/outfit/static/Outfit-Medium.ttf') format('woff2');
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('woff2');
}
  

@font-face {
  font-family: 'Young Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('woff2');
}
